<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>MiniProject02 - Team 3</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>

<body class="body">
<div class="header">
 <h1>   </h1> <br>
<br>
<p th:text="${questionid} + '. ' + ${question.prompt}"></p>

<form th:each="answer,iStat:${question.answers}" action="/answer" method="post"> <br>
   <input type="hidden" name="answerNumber" th:value="${iStat.index}" >
    <input type="submit" th:value="${answer}">


</form>
</div>
</body>
</html>